.bg-orange {
    width: 226px;
    padding: 21px 0;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: #FF774C;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.4000000059604645px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.bg-orange:hover {
    background-color: transparent;
    border-color: #FF774C;
    color: #FF774C;
}

.bg-blue {
    width: 226px;
    padding: 21px 0;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: #7390F9;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.4000000059604645px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.bg-blue:hover {
    background-color: transparent;
    border-color: #7390F9;
    color: #7390F9;
}